body{
    background-color: rgb(178, 206, 211);
}

h1{
    text-align: center;
    font-size: 4em;
}

.wrapper{
    position: relative;
}

#ball{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translate( -50%);
    top: 550px;
}

#cup-1, #cup-2, #cup-3{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 200px;
    z-index: 1000;
}

#cup-1{
    left: 25%;
}

#cup-2{
    left: 50%;
    transform: translate( -50%);
}
#cup-3{
    right: 25%;
}

.animate-cup2{
    animation: moveUp 3s;
}
.animate-ball{
    animation: moveBall 1s;
}

.animate-cup1{
    animation: moveCup1 2s;
}

.animate-cup3{
    animation: moveCup3 2s;
}

@keyframes moveUp{
    0%{}
    50%{transform:translateY(-50%);}
    100%{}
}
@keyframes moveBall{
    0%{}
    100%{transform:translateY(-50%);}
}
@keyframes moveCup1{
    0%{}
    50%{left: 44%;}
    100%{}
}

@keyframes moveCup3{
    0%{}
    50%{right: 44%;}
    100%{}
}

#start-button{
    position: absolute;
    left: 50%;
    transform: translate( -50%);
    cursor: pointer;
    background-color: #ffffff; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

}



.selected{
    background-color: indigo;
}

.hoverCup :hover{
cursor: pointer;
transform: scale(1.05);
}