body{
    background-color: rgb(178, 206, 211);
}

h1{
    text-align: center;
    font-size: 4em;
}

.wrapper{
    position: relative;
}

#cup-1, #cup-2, #cup-3{
    position: absolute;
    width: 200px;
    height: 300px;
    top: 100px;
}

#cup-1{
    left: 25%;
}

#cup-2{
    left: 50%;
    transform: translate( -50%);
}

#cup-3{
    right: 25%;
}